* {
	font-family: sans-serif;
	box-sizing: border-box;
}
*:focus {
	outline: none;
}
:root {
	--color-primary: #29f39b;
	--color-accent: #02a2f9;
}
::placeholder {
	color: #000;
}
body {
	max-width: 512px;
	margin: 0 auto;
	padding-top: env(safe-area-inset-top, 0);
	padding-bottom: env(safe-area-inset-bottom, 0);
}
section {
	display: grid;
	gap: 12px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 12px 12px 24px;
}
section :first-child {
	grid-column: span 4;
}
section span, section label {
	margin: 0 auto;
}
section span {
	position: relative;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	overflow: hidden;
	border: 4px solid var(--color-accent);
}
section label {
	display: inline-block;
	width: 48px;
	height: 48px;
	cursor: pointer;
}
section label svg {
	margin-top: -6px;
	margin-left: -6px;
	width: 60px;
	height: 60px;
	fill: var(--color-accent);
}
main {
	width: fit-content;
	margin: 0 auto;
	border-radius: 12px;
	background-color: #fff;
	overflow: hidden;
}
footer {
	position: fixed;
	left: 0;
	right: 0;
	text-align: center;
	bottom: calc(env(safe-area-inset-bottom, 0) + 12px)
}
button {
	height: 36px;
	border: none;
	padding: 0 12px;
	border-radius: 4px;
	cursor: pointer;
	color: #fff;
	background-color: var(--color-accent);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
input[type=text] {
	border-radius: 8px;
	border: none;
	background-color: var(--color-primary) !important;
	padding: 12px;
	color: #000;
}
input[type=file] {
	display: none;
}
input[type=color] {
	position: absolute;
	top: -8px;
	left: -8px;
	width: 56px;
	height: 56px;
	border: none;
	cursor: pointer;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #121212;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: whitesmoke;
	}
}