* {
	font-family: sans-serif;
	box-sizing: border-box;
}
*:focus {
	outline: none;
}
:root {
	--color-primary: #29f39b;
	--color-accent: #02a2f9;
}
::placeholder {
	color: #333;
}
body {
	max-width: 512px;
	margin: 0 auto;
	padding-top: env(safe-area-inset-top, 0);
	padding-bottom: env(safe-area-inset-bottom, 0);
}
mark {
	background-color: unset;
}
section {
	display: grid;
	gap: 12px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	margin: 12px 12px 24px;
}
section :first-child {
	grid-column: span 5;
}
section mark span, section label {
	margin: 0 auto;
}
section mark {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
section mark label {
	display: inline-block;
	margin-bottom: 12px;
}
section mark span {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	overflow: hidden;
	border: 4px solid var(--color-accent);
}
section mark div {
	display: inline-block;
	width: 48px;
	height: 48px;
}
section mark div label {
	display: inline-block;
	width: 48px;
	height: 48px;
	cursor: pointer;
}
section mark div label svg {
	margin-top: -6px;
	margin-left: -6px;
	width: 60px;
	height: 60px;
	fill: var(--color-accent);
}
main {
	margin: 0 auto;
	border-radius: 12px;
	overflow: hidden;
}
footer {
	margin-top: 24px;
	text-align: center;
}
button {
	height: 36px;
	border: none;
	padding: 0 12px;
	border-radius: 4px;
	cursor: pointer;
	color: #fff;
	background-color: var(--color-accent);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
input[type=text] {
	border-radius: 8px;
	border: none;
	background-color: var(--color-primary) !important;
	padding: 12px;
	color: #000;
}
input[type=file] {
	display: none;
}
input[type=color] {
	position: absolute;
	top: -8px;
	left: -8px;
	width: 56px;
	height: 56px;
	border: none;
	cursor: pointer;
}
.sprite {
	background-image: url("spritesheet.png");
	background-repeat: no-repeat;
	display: block;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #121212;
	}
	section mark label {
		color: whitesmoke;
	}
}
@media (prefers-color-scheme: light) {
	body {
		background-color: whitesmoke;
	}
	section mark label {
		color: #333;
	}
}
@media screen and (min-height: 600px) {
	body {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100vw;
	}
}